@import "./../../../scss/colors.scss";
@import "./../../../scss/mixins.scss";

.menu {
  background: $dark-3;
  width: 100%;
  display: grid;
  grid-template-rows: auto 5rem;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;

    @include scrollbarMixin;

    li {
      margin: auto;
      width: 100%;
    }
  }
}

@media (max-width: 1300px) {
  .menu ul {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
