@import "./../../../scss/colors.scss";

.wheel-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-menu {
  margin-top: 1rem;
  border-bottom: 1px $dark-4 solid;
  padding: 0 0.5rem 0.5rem;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    margin-bottom: 1rem;

    div {
      border: 1px solid $dark-4;
      border-radius: 5px;
      padding: 0.5rem 0.75rem;
      color: $gray-2;

      &:hover {
        cursor: pointer;
      }
    }
  }

  form {
    display: flex;

    input {
      min-width: 10rem;
      margin-right: 2rem;
    }
  }
}

.wheel {
  position: relative;
  overflow: hidden;

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: $dark-3;
    text-transform: uppercase;
    border: 8px solid $dark-4;
    font-weight: bold;
    font-size: 0.9rem;
    color: $gray-1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      color: $gray-2;
    }
  }

  .container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 15px solid $dark-4;
    position: relative;
    overflow: hidden;
    transition: transform 4s;

    div {
      height: 50%;
      width: 42%;
      position: absolute;
      clip-path: polygon(100% 0, 50% 100%, 0 0);
      transform: translateX(-50%);
      transform-origin: bottom;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: bold;
      color: $light-1;
      left: 29%;
      writing-mode: vertical-rl;

      &:nth-of-type(1) {
        background-color: #3f51b5;
        left: 50%;
      }

      &:nth-of-type(2) {
        background-color: #ff9800;
      }

      &:nth-of-type(3) {
        background-color: #e91e63;
      }

      &:nth-of-type(4) {
        background-color: #4caf50;
      }

      &:nth-of-type(5) {
        background-color: #009688;
      }

      &:nth-of-type(6) {
        background-color: #795548;
      }

      &:nth-of-type(7) {
        background-color: #9c27b0;
      }

      &:nth-of-type(8) {
        background-color: #f44336;
      }
    }
  }

  .arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 35px solid $dark-2;
    border-radius: 15px;
    width: 0px;
    z-index: 30;
  }
}

@media (max-width: 500px) {
  .wheel {
    button {
      width: 50px;
      height: 50px;
      font-size: 0.8rem;
      border-width: 6px;
    }

    .container {
      width: 270px;
      height: 270px;
      border-width: 10px;

      div {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
